body {
    margin: 0;
}

.red {
    /*3*/
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}

.blue {
    /*1*/
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 100px;
    top: 100px;
}

.yellow {
    /*2*/
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 200px;
    top: 200px;
}